html, body {
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    font-size: 12px;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

.hide {
    display: none !important;
}

.f_l {
    float: left;
}

.f_r {
    float: right;
}

.header-container {
    height: 45px;
    background-color: rgba(255, 176, 0, 1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

.header-container .header-inner-container {
    width: 1083px;
    margin: auto;
    height: 45px;
}

.header-container .logo-container {
    width: 201px;
    height: 100%;
}

.header-container .logo-inner-container {

}

.header-container .logo-inner-container .logo-img {
    width: 121px;
    height: 45px;
    background: url("../images/logo.png") no-repeat center;
}

.header-container .logo-inner-container .logo-gif {
    width: 80px;
    height: 45px;
    background: url("../images/z_app1.gif") no-repeat center;
}

.header-container .menu-ul-container {
    height: 100%;
}

.header-container .menu-ul-container .li-item {
    height: 45px;
    color: #fff;
    font-size: 14px;
    position: relative;
}

.header-container .menu-ul-container .li-item > a {
    height: 45px;
    display: block;
    padding: 0 16px;
    line-height: 45px;
}

.header-container .menu-ul-container .li-item > a.selected {
    background-color: #2d2d2d;
    color: #fff;
    font-weight: bold;
}

.header-container .menu-ul-container .li-item:hover > a {
    background-color: #2d2d2d;
    color: #fff;
    font-weight: bold;
}

.header-container .menu-ul-container .li-item:hover > a i.triangle-icon {
    border-top-color: #ababab;
}

.header-container .menu-ul-container .li-item > a i.triangle-icon {
    width: 0;
    height: 0;
    border: 5px solid;
    border-color: #8c6000 transparent transparent;
    position: absolute;
    right: 3px;
    top: 50%;
    margin-top: -3px;
}

.header-container .menu-ul-container .li-item:hover .sub-menu {
    display: block;
}

.header-container .menu-ul-container .li-item .sub-menu {
    position: absolute;
    z-index: 100;
    left: 0;
    top: 45px;
    background-color: #2d2d2d;
    overflow: hidden;
    display: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
}

.header-container .menu-ul-container .li-item .sub-menu-works {
    width: 360px;
}

.header-container .menu-ul-container .li-item .sub-menu-data {
    width: 110px;
}

.header-container .menu-ul-container .li-item .sub-menu-works .sub-menu-inner-container {
    margin-left: -15px;
    padding: 10px 20px;
}

.header-container .menu-ul-container .li-item .sub-menu .link {
    color: #ababab;
    font-size: 12px;
}

.header-container .menu-ul-container .li-item .sub-menu-works .link {
    height: 24px;
    line-height: 24px;
    display: inline-block;
    margin-left: 15px;
}

.header-container .menu-ul-container .li-item .sub-menu-data .link {
    height: 34px;
    line-height: 34px;
    display: block;
    padding-left: 16px;
}

.header-container .menu-ul-container .li-item .sub-menu .link:hover {
    color: #ffba00;
}

.header-container .menu-ul-container .li-item .sub-menu-data .link:hover {
    background-color: #111;
}

.header-container .search-container {
    display: table;
    height: 100%;
}

.header-container .search-inner-container {
    display: table-cell;
    vertical-align: middle;
}

.header-container .search-inner-container .input-area {
    width: 148px;
    height: 25px;
    line-height: 25px;
    background-color: #fff;
    padding: 0 6px;
    border: none;
    box-sizing: border-box;
}

.header-container .search-inner-container .submit-btn {
    width: 24px;
    height: 25px;
    background: url("../images/bs.png") #fff no-repeat 0 0;
    cursor: pointer;
}

.header-container .search-inner-container .submit-btn:hover {
    background-position: 0 -24px;
}

.header-container .search-inner-container .search-inner-container-content {
    position: relative;
}

.header-container .search-inner-container .search-inner-container-content:hover .search-condition-container {
    display: block;
}

.header-container .search-inner-container .search-condition-container {
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
    width: 100%;
    display: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
    z-index: 100;
}

.header-container .search-inner-container .search-condition-container .search-condition-inner-container {
    background-color: #2d2d2d;
    color: #fff;
    font-size: 12px;
    padding: 10px 5px;
    box-sizing: border-box;
    margin-left: -6px;
}

.header-container .search-inner-container .search-condition-container .tag-container {
    margin-left: 6px;
    margin-bottom: 2px;
    cursor: default;
}

.header-container .search-inner-container .search-condition-container .tag-container > label:hover {
    color: #ffba00;
}

.header-container .login-container {
    display: table;
    height: 100%;
}

.header-container .login-container .login-inner-container {
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    padding-left: 15px;
}

.header-container .login-container .login-inner-container > b {
    margin: 0 3px;
}

.header-container .login-container .login-inner-container > a:hover {
    text-decoration: underline;
}

.content-container {
    width: 1083px;
    margin: auto;
    margin-top: 25px;
    background-color: #fff;
}

.content-container .carousel-container {
    height: 350px;
    position: relative;
    margin: auto;
}

.content-container .carousel-container .slide_left, .content-container .carousel-container .slide_right {
    width: 21px;
    height: 28px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    margin-top: -14px;
}

.content-container .carousel-container .slide_left {
    background-image: url("../images/carousel/sl.png");
    left: -40px;
}

.content-container .carousel-container .slide_right {
    background-image: url("../images/carousel/sr.png");
    right: -40px;
}

.content-container .carousel-container .indicator-container {
    position: absolute;
    left: 50%;
    bottom: 15px;
    display: none;
    text-align: center;
    height: 12px;
    z-index: 80;
}

.content-container .carousel-container .indicator-container .indicator-inner-container {
    display: inline-block;
}

.content-container .carousel-container .indicator-container .indicator-item {
    width: 12px;
    height: 12px;
    background: rgba(0, 0, 0, .7);
    margin: 0 3px;
    border-radius: 4px;
}

.content-container .carousel-container .indicator-container .indicator-item.active {
    background: rgba(255, 186, 0, .85);
}

.content-container .carousel-container .carousel-item-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.content-container .carousel-container .carousel-item-container .carousel-item-inner-container {
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
}

.content-container .carousel-container .carousel-item-container .carousel-item {
    height: 100%;
    box-sizing: border-box;
}

.content-container .carousel-container .carousel-item-container .carousel-item .carousel-item-image {
    display: block;
    width: 100%;
    height: 100%;
}

.content-container .news-container {
    height: 46px;
    line-height: 46px;
    padding: 0 20px;
}

.content-container .news-container > span:first-child {
    background: url("../images/extension/voice.jpg") no-repeat left center;
    height: 100%;
    width: 16px;
    margin-right: 6px;
}

.content-container .news-container span, .content-container .news-container ul {
    font-size: 14px;
}

.content-container .news-container .title {
    margin-right: 5px;
}

.content-container .news-container .item-container {
    background: #ccc;
    height: 46px;
    width: 800px;
    position: relative;
    overflow: hidden;
}

.content-container .news-container .item-inner-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: none;
}

.content-container .news-container ul li .has-color {
    color: #4095ce;
}

.content-container .news-container ul li .has-color:hover {
    text-decoration: underline;
}

.content-container .news-container > span.up, .content-container .news-container > span.down {
    width: 31px;
    height: 26px;
    margin-top: 10px;
    cursor: pointer;
    position: relative;
}

.content-container .news-container > span.up {
    background: url("../images/extension/nano.gif") no-repeat left top;
}

.content-container .news-container > span.down {
    background: url("../images/extension/nano.gif") no-repeat right top;
    margin-left: -1px;
}

.content-container .news-container > span.up:hover, .content-container .news-container > span.down:hover {
    background-position-y: -26px;
    z-index: 2;
}

.content-container .extension-container {
    border-top: 1px solid #f4f4f4;
    overflow: hidden;
}

.content-container .extension-container .extension-inner-container {
    margin-right: -1px;
}

.content-container .extension-container .item {
    width: 25%;
    text-align: center;
    box-sizing: border-box;
    padding: 9px 0;
    border-right: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
}

.content-container .original-container {
    border-top: 1px solid #f4f4f4;
    overflow: hidden;
}

.content-container .original-container .original-inner-container {
    margin-right: -1px;
}

.content-container .original-container .item {
    width: 25%;
    text-align: center;
    box-sizing: border-box;
    padding: 9px 0;
    border-right: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    height: 366px;
}

.content-container .original-container .item .img-link {
    display: inline-block;
}

.content-container .original-container .item .img-link img {
    width: 250px;
    height: 188px;
    display: block;
}

.content-container .original-container .item .content {
    padding: 10px 20px;
    text-align: left;
    font-size: 12px;
}

.content-container .original-container .item .title {
    width: 225px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content-container .original-container .item .title .title-link {
    font-size: 14px;
    font-weight: bold;
    color: #666;
}

.content-container .original-container .item .title .title-link:hover {
    color: #f30;
    text-decoration: underline;
}

.content-container .original-container .item .type {
    margin-top: 10px;
}

.content-container .original-container .item .type .type1 {
    color: #ff0084;
    font-weight: bold;
}

.content-container .original-container .item .type .type1:hover {
    text-decoration: underline;
}

.content-container .original-container .item .type .type2 {
    color: #7f7f7f;
}

.content-container .original-container .item .type .type2:hover {
    text-decoration: underline;
    color: #000;
}

.content-container .original-container .item .time {
    margin-top: 10px;
    color: #808080;
}

.content-container .original-container .item .data {
    margin-top: 10px;
    color: #808080;
}

.content-container .original-container .item .data .num {
    color: #f30;
}

.content-container .original-container .item .user {
    margin-top: 20px;
}

.content-container .original-container .item .user .user-img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    display: block;
}

.content-container .original-container .item .user .user-name {
    height: 30px;
    line-height: 30px;
    color: #808080;
}

.content-container .original-container .item .user .user-name:hover {
    text-decoration: underline;
    color: #000;
}

.content-container .original-title-container {
    height: 72px;
    line-height: 72px;
    padding: 0 20px;
}

.content-container .original-title-container .title1 {
    font-size: 20px;
    color: #666;
}

.content-container .original-title-container .title2 {
    font-size: 13px;
    color: #999;
    height: 72px;
    padding-top: 3px;
    box-sizing: border-box;
    margin-left: 5px;
}

.content-container .original-title-container .publish {
    display: table;
    height: 100%;
}

.content-container .original-title-container .publish .inner {
    display: table-cell;
    vertical-align: middle;
}

.content-container .original-title-container .publish .inner a {
    width: 113px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 13px;
    border: 1px solid #999;
    border-radius: 3px;
    font-weight: bold;
    display: inline-block;
    transition: background .3s;
}

.content-container .original-title-container .publish .inner .work {
    background-color: rgba(255, 200, 0, 1);
    border-color: rgba(224, 137, 0, 1);
    color: rgba(166, 58, 0, 1);
}

.content-container .original-title-container .publish .inner .article {
    background-color: rgba(222, 222, 222, 1);
    border-color: rgba(179, 179, 179, 1);
    color: rgba(100, 100, 100, 1);
    margin-left: 15px;
}

.content-container .original-title-container .publish .inner .work:hover {
    background-color: rgba(255, 185, 0, 1);
}

.content-container .original-title-container .publish .inner .article:hover {
    background-color: rgba(210, 210, 210, 1);
}

.content-container .pagination-container {
    width: 100%;
    height: 90px;
    display: table;
}

.content-container .pagination-container .pagination-inner-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.content-container .pagination-container .pagination-inner-container .item {
    width: 37px;
    height: 37px;
    line-height: 37px;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 0 5px;
    background-color: rgba(245, 245, 245, 1);
    border: 1px solid rgba(191, 191, 191, 1);
    border-radius: 3px;
    color: #7f7f7f;
    box-sizing: border-box;
}

.content-container .pagination-container .pagination-inner-container .item.selected {
    border-color: rgba(233, 161, 32, 1);
    background-color: rgba(255, 186, 0, 1);
    color: #fff;
}

.content-container .pagination-container .pagination-inner-container .item:not(.selected):hover {
    border-color: #888;
    background-color: rgba(248, 248, 248, 1);
}

.content-container .pagination-container .pagination-inner-container .dots {
    vertical-align: 3px;
    color: #7f7f7f;
}

.content-container .pagination-container .pagination-inner-container .item.prev b {
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: solid;
    border-color: transparent #4e4e4e transparent transparent;
    display: inline-block;
    margin-right: 7px;
}

.content-container .pagination-container .pagination-inner-container .item.next b {
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent transparent #4e4e4e;
    display: inline-block;
    margin-left: 7px;
}

.content-container .pagination-container .pagination-inner-container .goto {
    color: #999;
    font-size: 14px;
    margin-left: 30px;
}

.content-container .pagination-container .pagination-inner-container .goto-input {
    width: 40px;
    height: 37px;
    line-height: 37px;
    border-radius: 3px;
    border: 1px solid rgba(191, 191, 191, 1);
    padding: 0 5px;
    box-sizing: border-box;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
}

.content-container .pagination-container .pagination-inner-container .item.go-btn {
    margin: 0 2px;
}

.content-container .ad-container img {
    display: block;
}

.content-container .detail-container {
    height: 490px;
    overflow: hidden;
}

.content-container .detail-container .detail-inner-container {
    margin-right: -1px;
    height: 100%;
}

.content-container .detail-container .detail-inner-container .item-container {
    border-right: 1px solid #f4f4f4;
    width: 25%;
    height: 100%;
    box-sizing: border-box;
}

.content-container .detail-container .detail-inner-container .item-container:last-child {
    width: 50%;
}

.content-container .detail-container .title {
    height: 43px;
    line-height: 43px;
    border-bottom: 1px solid #f4f4f4;
    padding: 0 10px;
}

.content-container .detail-container .title span {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.content-container .detail-container .title span.ads {
    font-size: 12px;
    font-weight: normal;
    color: #999;
    padding: 2px 10px 0;
    height: 43px;
    box-sizing: border-box;
}

.content-container .detail-container .title a {
    font-size: 12px;
    color: #4095ce;
}

.content-container .detail-container .title b {
    font-size: 12px;
    font-weight: bold;
    color: #4095ce;
    margin: 0 2px;
}

.content-container .detail-container .title a:hover {
    text-decoration: underline;
}

.content-container .detail-container .item-container .detail-item {
    padding: 10px 10px;
}

.content-container .detail-container .item-container .detail-item .img-container img {
    display: block;
    width: 48px;
    height: 48px;
}

.content-container .detail-container .item-container .detail-item .profile-container {
    padding-left: 10px;
    color: #999;
}

.content-container .detail-container .item-container .detail-item .profile-container .user-name {
    color: #666;
}

.content-container .detail-container .item-container .detail-item .profile-container .user-name:hover {
    color: #f30;
    text-decoration: underline;
}

.content-container .detail-container .item-container .detail-item .profile-container .types {
    margin: 7px 0;
}

.content-container .detail-container .item-container .jobs-content {
    display: table;
    width: 100%;
    height: 100%;
}

.content-container .detail-container .item-container .left-content {
    display: table-cell;
    border-right: 1px solid #f4f4f4;
    padding: 2px 12px;
    box-sizing: border-box;
}

.content-container .detail-container .item-container .left-content .link-container {
    margin: 14px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 340px;
}

.content-container .detail-container .item-container .left-content a {
    color: #5a5a5a;
}

.content-container .detail-container .item-container .left-content a:hover {
    color: #f30;
    text-decoration: underline;
}

.content-container .detail-container .item-container .right-content {
    display: table-cell;
    width: 166px;
}

.content-container .detail-container .item-container .right-content a {
    display: block;
}

.content-container .detail-container .item-container .right-content a img {
    display: block;
    height: 106px;
    width: 166px;
}

.footer-ad-container {
    width: 1083px;
    margin: 25px auto;
}

.footer-ad-container img {
    height: 90px;
    width: 100%;
}

.footer-container {
    background: #4e4e4e;
}

.footer-container .footer-search-container {
    height: 46px;
    width: 100%;
    background: #ffba00;
    display: table;
}

.footer-container .footer-search-container .footer-search-inner-container {
    display: table-cell;
    vertical-align: middle;
}

.footer-container .footer-search-container .menu-container {
    width: 350px;
    height: 32px;
    background: #fff;
    margin: 0 auto;
}

.footer-container .footer-search-container .menu-container .type-container {
    width: 52px;
    height: 100%;
    line-height: 32px;
    text-align: center;
    border-right: 1px solid #eca128;
    border-left: 1px solid #eca128;
    padding-right: 10px;
    position: relative;
    cursor: pointer;
}

.footer-container .footer-search-container .menu-container .type-container b {
    border-width: 4px;
    border-style: solid;
    border-color: #868686 transparent transparent;
    position: absolute;
    right: 6px;
    top: 50%;
    margin-top: -2px;
}

.footer-container .footer-search-container .menu-container .type-container .all-type {
    position: absolute;
    z-index: 100;
    left: -1px;
    top: 32px;
    border: 1px solid #eca128;
    border-top: none;
    width: 100%;
    background: #fff;
    display: none;
}

.footer-container .footer-search-container .menu-container .type-container .all-type li {
    height: 22px;
    line-height: 22px;
}

.footer-container .footer-search-container .menu-container .type-container .all-type li:hover {
    background: #ffba00;
}

.footer-container .footer-search-container .menu-container .search-container {
    width: 286px;
    height: 32px;
}

.footer-container .footer-search-container .menu-container .search-container input {
    height: 32px;
    line-height: 32px;
    width: 250px;
    margin: 0;
    padding: 0 5px;
    border: none;
    box-sizing: border-box;
}

.footer-container .footer-search-container .menu-container .search-container a {
    width: 36px;
    height: 32px;
    background: url("../images/bs.png") no-repeat center 4px;
}

.footer-container .footer-search-container .menu-container .search-container a:hover {
    background-position-y: -20px;
}

.footer-container .footer-function-container {
    width: 984px;
    padding: 30px 0 25px;
    margin: 0 auto;
}

.footer-container .footer-function-container ul {
    width: 100px;
}

.footer-container .footer-function-container ul li {
    padding: 5px 0;
}

.footer-container .footer-function-container ul li.title {
    padding-top: 0;
}

.footer-container .footer-function-container ul li.title a {
    color: #fff;
}

.footer-container .footer-function-container ul li a {
    color: #aaa;
}

.footer-container .footer-function-container ul li a:hover {
    color: #fff;
    text-decoration: underline;
}

.footer-container .footer-function-container .copyright-info-container {
    color: #aaa;
    width: 280px;
}

.footer-container .footer-function-container .copyright-info-container .item {
    padding: 5px 0;
    line-height: 21px;
}

.footer-container .footer-function-container .copyright-info-container a {
    color: #aaa;
}

.footer-container .footer-function-container .copyright-info-container .title a {
    color: #fff;
}

.footer-container .footer-function-container .copyright-info-container a:hover {
    color: #fff;
    text-decoration: underline;
}

.go-to-top {
    width: 34px;
    height: 100px;
    position: fixed;
    right: 0;
    bottom: 10px;
    display: none;
}

.go-to-top a {
    display: block;
    background: url("../images/goTopZcool.png") no-repeat center;
    width: 100%;
    height: 100%;
}